<div class="grab box d-flex j-between a-center p-2" [ngClass]="{ 'active' : activity.active }">
    <div class="w-25 d-flex j-start a-center">
        <mat-icon class="me-5">drag_indicator</mat-icon>
        {{activity.description}}
    </div>
    <div class="w-25 d-flex j-center">
        {{activity.time | hhmmss}}
    </div>
    <div class="w-25 d-flex j-end a-center gap-5">
        <button *ngIf="!activity.active" mat-raised-button color="primary" (click)="startActivity(activity)">Start</button>
        <button *ngIf="activity.active" mat-raised-button color="accent" (click)="stopActivity(activity)">Stop</button>
        <mat-icon class="pointer" color="warn" (click)="deleteActivity(activity)">delete_forever</mat-icon>
    </div>
</div>