<ng-container *ngIf="Activities.length > 0; else noData">
    <mat-list class="list" role="list" cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-list-item role="listitem" class="mb-5" *ngFor="let activity of Activities" cdkDrag>
            <app-activity class="w-100" [activity]="activity" 
                                        (startActivityEvent)="startActivity($event)"
                                        (stopActivityEvent)="stopActivity($event)"
                                        (deleteActivityEvent)="deleteActivity($event)"
                                        (tickEvent)="tick()">
            </app-activity>
        </mat-list-item>
    </mat-list>
</ng-container>

<ng-template #noData>
    <div class="d-flex j-center mt-5">There are no activities.</div>
</ng-template>