<ng-container *ngIf="Activities.length > 0; else noData">
    <mat-list role="list">
        <mat-list-item role="listitem" class="mb-5" *ngFor="let activity of Activities">
            <app-activity class="w-100" [activity]="activity" 
                                        (startActivityEvent)="startActivity($event)"
                                        (deleteActivityEvent)="deleteActivity($event)"
                                        (tickEvent)="tick()">
            </app-activity>
        </mat-list-item>
    </mat-list>
</ng-container>

<ng-template #noData>
    <div class="d-flex j-center mt-5">Non sono presenti attività</div>
</ng-template>

<div class="d-flex j-center mt-5">
    <button mat-raised-button color="primary" (click)="openDialog()">Aggiungi</button>
</div>